.ui-icon-custom-statistics {
	background-image: url("/static/stylesheets/icon-stats-white.png");
}

div[data-role="fieldcontain"] { border-bottom: none; }

.cards .ui-li:last-child {
   border-bottom-width: 2px;
}

.card-image {
   width: 100%;
   height: auto;
}

.card-info {
   list-style: none;
}
