{% extends "base.htm" %}

{% block page_jqm_data_attributes %}data-add-back-btn="true" data-back-btn-text="Back" data-back-btn-theme="b"{% endblock %}

{% block page_header %}
    <h1>{{data.name}}</h1>
{% endblock %}

{% block page_content %}
    <img class="card-image" src='{{data.link}}'/>
    <ul class="card-info">
        {% for key, value in data.items %}
            {% if key != "link" and key != "id" %}
                <li>
                    <strong>{{key|capfirst}}: </strong>
                    {% if key == "legality" or key == "keywords" or key == "other_sets" %}
                        {{value|join:', '}}
                    {% else %}
                        {{value|safe}}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
