{% extends "base_collection.htm" %}

{% block page_header %}
    {% if viewing == 'collection' %}
        <h1>Collection</h1>
    {% elif viewing == 'search' %}
        <h1>Search</h1>
    {% endif %}
{% endblock %}

{% block page_content %}
    <ul class="cards" data-role="listview" data-filter=true>
        {% for card in cards %}
            <li>
                <a href="/cards/{{card.id}}">
                    <img src="{{card.data.link}}"/>
                    <h3>{{card.data.name}}</h3>
                    <p>{% for key in card.data.keywords %}{{key|safe}} {% endfor %}</p>
                    <span class="ui-li-count">{{card.n|default:0}}</span>
                </a>
            </li>
        {% empty %}
             {% if viewing == 'collection' %}
                <p>You have no cards yet, go and get some!</p>
             {% endif %}
        {% endfor %}
   </ul>
{% endblock %}
