{% extends "base_collection.htm" %}

{% block page_header %}
    <h1>Collection</h1>
{% endblock %}

{% block page_content %}
    <ul data-role="listview" data-filter=true>
        {% for card in cards %}
            <li>
                <a href="/cards/{{card.id}}">
                    <img src="{{card.data.link}}"/>
                    <h3>{{card.data.name}}</h3>
                    <p>Here a brief description of the card</p>
                    <span class="ui-li-count">3</span>
                </a>
            </li>
        {% empty %}
             <p>You have no cards yet, go and get some!</p>
        {% endfor %}
   </ul>
{% endblock %}
