{% extends "base_home.html" %}

{% block page_content %}
   Welcome to Void Ring!
    {% if not request.user.is_authenticated %}

    <div class="inner_content">

        <!--form to call registration via facebook -->
        <form action="{% url facebook_connect %}?facebook_login=1" method="post">
            <h2>Register, login or connect with Facebook</h2>
            <br />
            <input type="hidden" value="{{ request.path }}" name="next" />

            <!--
            use error next for a seperate error page
            <input type="hidden" value="/error/" name="error_next" />
            -->
            <div id="facebook_login_js">
            <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="http://e.fashiocdn.com/images/b_signin_facebook_small.png" /><br />
        </form>

    </div>

    {% endif %}
    {% if request.user.is_authenticated %}
        <h1>Welcome {{ request.user }}</h1><a href="{% url auth_logout %}?next={{ request.path|urlencode }}">logout</a><br />

        <p>
        Thank you for logging in with Facebook.
        By default you will have the following data available:
        </p>
    {% endif %}

   <ul data-role="listview" data-inset="true">
      <li><a href="/cards/">Collection</a></li>
      <li><a href="#">Decks</a></li>
      <li><a href="/search/">Search</a></li>
   </div>
{% endblock %}
